name: Continuous Deployment of Generated Files
on:
  push:
    branches:
      - main
jobs:
  cd:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install sbcl
      - run: sbcl --script gen.lisp
      - run: git add index.html pwd.opml
      - run: git config user.name 'Continous Deployment'
      - run: git config user.email 'cd@localhost'
      - run: git commit -m 'Regenerate index.html and pwd.opml'
      - run: git push origin main
      - run: git show
